@model GigHub.Core.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>
    @Model.Gig.Artist.Name
    @if(User.Identity.IsAuthenticated)
    {

        if(Model.IsFollowing)
        {
            <button data-user-id="@Model.Gig.ArtistId" class="btn btn-info js-toggle-follow">Following</button>
        }
        else
        {
            <button data-user-id="@Model.Gig.ArtistId" class="btn btn-default js-toggle-follow">Follow</button>
        }
    }
</h2>

<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")
</p>

@if(User.Identity.IsAuthenticated && Model.IsGoing)
{
    <p>You are going to this event.</p>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // button Follow click
            GigsDetailsController.init();
        });
    </script>
}