@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "My Upcoming Gigs";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs voffset3">
    @foreach(var g in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @g.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @g.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @g.Venue
                </span>
                <span class="genre">
                    @g.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = g.Id })">
                        Edit
                    </a>
                </div>
            </div>
        </li>
    }
</ul>