@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = Model.Heading;
}
<h2>@Model.Heading</h2>
<ul class="gigs voffset3">
    @foreach(var g in Model.Gigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @g.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @g.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @g.Artist.Name
                    @if(Model.ShowActions)
                    {
                        <button data-user-id="@g.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                    }
                </span>
                <span class="genre">
                    @g.Genre.Name
                </span>
                @if(Model.ShowActions)
                {
                    <button data-gig-id="@g.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }
</ul>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // button Going click
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                var gigDto = { gigId: button.attr("data-gig-id") };
                $.post("/api/attendances", gigDto)
                    .done(function () {
                        button.removeClass("btn-default")
                              .addClass("btn-info")
                              .text("Going");
                    }).fail(function () {
                        alert("Fail");
                    });
            });

            // button Follow click
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                var followDto = { followeeId: button.attr("data-user-id") };
                $.post("/api/followings", followDto)
                    .done(function () {
                        button.text("Following");
                    }).fail(function () {
                        alert("Fail");
                    });
            });
        });
    </script>
}
