@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = Model.Heading;
}
<h2>@Model.Heading</h2>

@using(Html.BeginForm("Search", "Gigs"))
{

    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by artist, genre..." })
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>
}

<ul class="gigs voffset3">
    @foreach(var g in Model.Gigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @g.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @g.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a href="@Url.Action("Details", "Gigs", new { id = g.Id })">@g.Artist.Name</a>
                    @if(g.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                    @if(Model.ShowActions)
                    {
                        <button data-user-id="@g.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                    }
                </span>
                <span class="genre">
                    @g.Genre.Name
                </span>
                @if(Model.ShowActions && g.IsCanceled == false)
                {
                    <button data-gig-id="@g.Id"
                            class="btn
                                @(Model.Attendances.Contains(g.Id) ? "btn-info" : "btn-default") btn-sm pull-right js-toggle-attendance">
                        Going?
                    </button>
                }
            </div>
        </li>
    }
</ul>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // button Going click
            GigsController.init();

            // button Follow click
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                var followDto = { followeeId: button.attr("data-user-id") };
                $.post("/api/followings", followDto)
                    .done(function () {
                        button.text("Following");
                    }).fail(function () {
                        alert("Fail");
                    });
            });
        });
    </script>
}
